.profile__avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url(../../../image/Edit.svg);
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
}